.app{
  margin: 0 auto;

}

p{
  line-height: 1.5em;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav{
  margin-bottom: 40px;
}
nav ul{
  padding-top: 40px;
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
}
nav ul li a{
  text-decoration: none;
  padding-bottom: 5px;
  margin: 0 10px;
  color: blue;
  font-size: 14px;
}

nav ul li a.current{
  border-bottom: 1px solid;
}

.homeButton a{
  border-bottom: none;
  font-size: 16px;
}
nav ul .homeButton{
  flex-grow: 1;
}

.submissions{
  margin: 50px auto;
  border: 1px solid;
  box-sizing: border-box;
  width: 800px;
}

.submission{
  padding: 20px 10px;
  margin: 0;
  box-sizing: border-box;
}

.submission p{
  margin-bottom: 0px;
}

.submission:nth-child(even) {
  background-color: rgba(0,0,0,0.05);
}

button{
  margin: 10px 0;
  padding: 10px;
  border: 1px solid;
  font-size: 1.1em;
}

.selected-cards{
  border: 1px solid grey;
  background-color: white;
  padding: 0 5px;
  font-size: .8em;
}

.selected-cards span{
  display: block;
  margin: 10px 0;
}


/* HEADER */

header{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -80px;
}

header > div{
  width: 450px;
  text-align: center;
}
