@import url('https://fonts.googleapis.com/css?family=PT+Mono');

$fonts-body: Helvetica, sans-serif;
$fonts-buttons: 'PT Mono', monospace;

$nav-color: white;
$bg-color: #0060ff;
$color-button: #ff524d;
$color-highlight: #ebff61;
$color-inactive: #004ed0;
$text-body-color: white;
$text-card-color: black;

$color-user: rgba(255,82,77,1);
$color-scenario: #77c36c;
$color-technology: #b754a1;

$max-width: 1200px;
$side-padding: 0 50px;
$margin-top: 30px 0;

body {
  margin: 0;
  padding: 0;
  font-family: $fonts-body;
  background-color: $bg-color;
  color: $text-body-color;
}

p{
  line-height: 1.5em;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button{
  &:hover{cursor: pointer;}
  &.ctaButton{
    font-family: $fonts-buttons;
    background-color: $color-button;
    font-weight: bold;
    border: 0;
    color: white;
    font-size: 15px;
    padding: 15px;
    &:disabled{
      background-color: transparentize(white, 0.7);
      color: transparentize(white, 0.5);
      cursor: default;
    }
  }
  &.interfaceButton{
    transition: opacity .1s;
    background-color: transparent;
    color: $text-body-color;
    font-family: $fonts-buttons;
    border: 0;
    font-size: 14px;
    margin: 0 10px;
    &:hover{opacity:0.6;}
    &:disabled{
      opacity: 0.5;
      cursor: default;
    }
  }
}

.interfaceContainer{
  width: 100%;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  &.right{
    justify-content: flex-end;
  }
  &.noMargin{
    margin:0;
  }
}
.textContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}

nav{
  margin-bottom: 40px;
  margin: 100 0px;
  ul{
    padding: $side-padding;
    padding-top: 40px;
    display: flex;
    max-width: $max-width;
    margin: 0 auto;
  }
  ul li{
    margin: 0 10px;
    &:first-child{margin-left: 0;}
    &:last-child{margin-right: 0;}
  }
  ul li a{
    text-decoration: none;
    padding-bottom: 5px;
    color: $nav-color;
    font-size: 14px;
  }
  ul li a.current{
    border-bottom: 1px solid;
  }
}

.homeButton a{
  border-bottom: none;
  font-size: 16px;
}
nav ul .homeButton{
  flex-grow: 1;
}

.submissions{
  max-width: $max-width;
  margin: 0 auto;
}



.selected-cards span{
  display: block;
  margin: 10px 0;
}


/* HEADER */

header{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -80px;
}

header > div{
  max-width: 450px;
  text-align: center;
}

/* GAME */

.game{
  max-width: $max-width;
  padding: $side-padding;
  margin: 0 auto;
  perspective: 800px;

  .flow{
    max-width: 800px;
    margin: 0 auto;
    ul{
      display: flex;
      li{
        flex-grow: 1;
        font-size: .85em;
        margin: 0 20px;
        span{
          color: white;
          line-height: 1.5em;
          padding: 5px;
          height: 20px;
          width: 20px;
          text-align: center;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          position: relative;
          background-color: $color-inactive;
          margin-right: 10px;
          &.active{color: $bg-color;background-color: $color-highlight;}
        }
      }
    }
  }


}
