.postContainer{
  margin: 200px auto;
  overflow: visible;
}

.post{
  display: flex;
  width: 100%;
  height: 400px;
  overflow: visible;
}

.selected-cards{
  width: 50%;
  position: relative;
}
.inputted{
  width: 50%;
  position: relative;
  order: 2;
}

.rotate__wrapper {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    perspective: 1000;
}

.postCard{
  color: $text-card-color;
  position: absolute;
  box-sizing: border-box;
  font-size: 20px;
  background-color: white;
  width: 40%;
  padding-bottom: 30%;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  .postCardInner{
    position: absolute;
    top: 10px; left: 10px; right: 10px; bottom: 10px;
    border: 1px solid;
    padding: 15px;
  }
  .postSpan{
    font-size: 12px;
  }
  &.a1-user{
    color: $color-user;
    top: 0px;
    left: 0px;
    .postCardInner{border: 1.2px dashed}
  }
  &.a2-scenario{
    color: $color-scenario;
    font-size: 16px;
    top: 30%;
    left: 28%;
    .postCardInner{border: 1.2px dotted}
  }
  &.a3-technology{
    color: $color-technology;
    top: 60%;
    left: 62%;
    .postCardInner{border: 1.2px solid}
  }
}
.input{
  box-sizing: border-box;
  color: black;
  width: 100%;
  height: 340px;
  background-color: white;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 30px;
  font-size: 18px;
  line-height: 1.56;
  p{
    font-size: 14px;
    color: #9b9b9b;
    margin-top: 0;
  }
}
