@import url("https://fonts.googleapis.com/css?family=PT+Mono");
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background-color: #0060ff;
  color: white; }

p {
  line-height: 1.5em; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

button:hover {
  cursor: pointer; }
button.ctaButton {
  font-family: "PT Mono", monospace;
  background-color: #ff524d;
  font-weight: bold;
  border: 0;
  color: white;
  font-size: 15px;
  padding: 15px; }
  button.ctaButton:disabled {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.5);
    cursor: default; }
button.interfaceButton {
  transition: opacity .1s;
  background-color: transparent;
  color: white;
  font-family: "PT Mono", monospace;
  border: 0;
  font-size: 14px;
  margin: 0 10px; }
  button.interfaceButton:hover {
    opacity: 0.6; }
  button.interfaceButton:disabled {
    opacity: 0.5;
    cursor: default; }

.interfaceContainer {
  width: 100%;
  margin: 30px 0;
  display: flex;
  justify-content: center; }
  .interfaceContainer.right {
    justify-content: flex-end; }
  .interfaceContainer.noMargin {
    margin: 0; }

.textContainer {
  width: 100%;
  display: flex;
  justify-content: center; }

nav {
  margin-bottom: 40px;
  margin: 100 0px; }
  nav ul {
    padding: 0 50px;
    padding-top: 40px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto; }
  nav ul li {
    margin: 0 10px; }
    nav ul li:first-child {
      margin-left: 0; }
    nav ul li:last-child {
      margin-right: 0; }
  nav ul li a {
    text-decoration: none;
    padding-bottom: 5px;
    color: white;
    font-size: 14px; }
  nav ul li a.current {
    border-bottom: 1px solid; }

.homeButton a {
  border-bottom: none;
  font-size: 16px; }

nav ul .homeButton {
  flex-grow: 1; }

.submissions {
  max-width: 1200px;
  margin: 0 auto; }

.selected-cards span {
  display: block;
  margin: 10px 0; }

/* HEADER */
header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -80px; }

header > div {
  max-width: 450px;
  text-align: center; }

/* GAME */
.game {
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
  perspective: 800px; }
  .game .flow {
    max-width: 740px;
    margin: 0 auto; }
    .game .flow ul {
      display: flex; }
      .game .flow ul button {
        flex-grow: 1; }
        .game .flow ul button span {
          color: #0060ff;
          box-sizing: border-box;
          width: 30px;
          font-size: 16px;
          border-radius: 20px;
          padding: 8px;
          background-color: #ebff61; }

.card {
  box-sizing: border-box;
  background-color: white;
  border: none;
  text-align: left;
  flex-grow: 2;
  font-size: 1.5em;
  height: 100%;
  width: 100%;
  padding: 0;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  transform-style: preserve-3d;
  transition: transform .3s; }
  .card:hover {
    transform: rotateY(2deg); }
  .card .cardText {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .card p {
    width: 100%;
    margin: 8px 0; }
  .card .cat {
    font-weight: normal;
    width: 100%;
    font-size: 12px;
    align-self: flex-start; }
  .card .cardInner {
    box-sizing: border-box;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    margin: 15px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    padding: 15px; }
  .card.user {
    font-weight: bold;
    color: #ff524d; }
    .card.user .cardInner {
      border: 1px dashed #ff524d; }
  .card.scenario {
    font-weight: bold;
    color: #77c36c; }
    .card.scenario .cardInner {
      border: 1px dotted #77c36c; }
  .card.technology {
    color: #b754a1; }
    .card.technology:hover {
      font-size: 1em; }
    .card.technology .name {
      font-size: 1em;
      font-weight: bold; }
    .card.technology .examples {
      font-size: 1em;
      align-self: flex-end;
      margin: 0em; }
    .card.technology .source {
      font-size: .5em;
      align-self: flex-end; }
    .card.technology .cardInner {
      border: 1px solid #b754a1; }

.category {
  display: flex;
  flex-wrap: wrap; }

.postContainer {
  margin: 200px 0; }

.post {
  display: flex;
  width: 100%;
  height: 600px; }

.selected-cards {
  width: 50%;
  position: relative; }

.inputted {
  width: 50%;
  position: relative; }

.postCard {
  color: black;
  position: absolute;
  box-sizing: border-box;
  font-size: 20px;
  background-color: white;
  min-height: 200px;
  width: 33%;
  padding: 20px;
  padding-bottom: 40px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1); }

/* .postCard:not(:first-child) {
  margin-top: -50px;
  margin-left: 30px;
} */
.postCard.a1-user {
  top: 0px;
  left: 0px; }

.postCard.a2-scenario {
  top: 30%;
  left: 30%; }

.postCard.a3-technology {
  top: 60%;
  left: 60%; }

.postSpan {
  font-size: 14px; }

.postCard.input {
  width: 100%;
  height: 340px; }

.roulette {
  display: flex;
  min-height: 300px;
  width: 100%;
  margin: 30px 0; }

.roulette-child {
  width: 33%;
  margin-left: 30px; }
  .roulette-child:first-child {
    margin: 0px; }

.submissionfield {
  margin: 50px 0; }

.input-field {
  display: block;
  width: 80%;
  height: 200px;
  font-size: 14px;
  margin-bottom: 10px; }

.submit-button {
  display: block; }

/*# sourceMappingURL=index.css.map */
